{% paginate collection.products by 2 %}
  <h1 class="title">{{ collection.title }}</h1>

<div class='container'>
  {% for product in collection.products %}

  <div class="card-trip m-3">
     <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    <div class="card-trip-infos">
      <div>
        <h2><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
        <p>{{ product.description }}</p>
      </div>
      <h2 class="card-trip-pricing">
        {% if product.available %}
        {{ product.price | money }}
        {% else %}
        SOlD OUT
        {% endif %}
      </h2>
    </div>
  </div>

  {% else %}
    <h2 class="title">Opps no results :(</h2>
  {% endfor %}
</div>

  {% if paginate.pages > 1 %}
   <div class="d-flex justify-content-center"> {{ paginate | default_pagination }} </div>
  {% endif %}
{% endpaginate %}
