<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0182/4159/products/BlackRose_ModelMensHoodie_Back_grande.jpg?v=1541553250);">
  <div class="container">
    <h1>Black Rose brings<strong>new Merch</strong> to <strong>You</strong>!</h1>
    <p>Get it now</p>
  </div>
</div>


<div class="container title">Featured</div>

   <div class="container">
     <div class="cards card-gap">
      {% for product in collections.frontpage.products limit:4 %}
        <div class="card card-size">
          <a href="{{ product.url | within: collection }}">
            <img class='card-image-top' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          </a>
          <div class="info-card">
            <div>
              <h3>
                <a class="card-link" href="{{ product.url | within: collection }}">{{ product.title }}</a>
              </h3>
              <p>{{ product.description }}</p>
            </div>
            <h3 class="card-trip-pricing">{{ product.price | money }}
              {% unless product.available %}<br><strong>sold out</strong>{% endunless %}</h3>
          </div>
        </div>
    </div>
  {% endfor %}

  <div id="product-page">

   <div class="cards card-gap">

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://i.rocdn.com/v2/36860715?w=1024&h=1024">
          <div class="info-card">
            <div>
              <h3>Black-rose T-shirt</h3>
              <p>limited edition</p>
            </div>
            <h3 class="card-trip-pricing">£9.99</h3>
          </div>
        </div>
      </a>

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0182/4159/products/BlackRose_Mens_Joggers_Front.jpg?v=1493053720">
          <div class="info-card">
            <div>
              <h3>Camo-rose pants</h3>
              <p>Summer sale!</p>
            </div>
            <h3 class="card-trip-pricing">£19.99</h3>
          </div>
        </div>
      </a>

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://i.etsystatic.com/17959774/c/2121/1684/0/392/il/228f34/1750254660/il_340x270.1750254660_qr7t.jpg">
          <div class="info-card">
            <div>
              <h3>White-Rose</h3>
              <p>Available in multi-color</p>
            </div>
            <h3 class="card-trip-pricing">£70.99</h3>
          </div>
        </div>
      </a>

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://www.blackrose.co.uk/image/cache/catalog/Products/Spiral/SHOES%20SEPT/K018S002_FR-300x300.jpg">
          <div class="info-card">
            <div>
              <h3>Rose-jet shoe</h3>
              <p>Flex them!</p>
            </div>
            <h3 class="card-trip-pricing">£51.51</h3>
          </div>
        </div>
      </a>

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://cdn.customfields.bonify.io/mvmt-watches.myshopify.com/fields/products/see_it_styled_mens_image/9284397513/%40laya.gerlock%20%28Voyager%29%20Slate%20Black%20Rose%209.2%20copy.jpg">
          <div class="info-card">
            <div>
              <h3>Rose Quartz</h3>
              <p>Be on time</p>
            </div>
            <h3 class="card-trip-pricing">£199.99</h3>
          </div>
        </div>
      </a>

      <a href="" class="card-link">
        <div class="card card-size">
          <img class="card-img-top" src="https://cfcdn.zulily.com/images/cache/product/452x1000/309635/zu61680591_main_tm1540656343.jpg">
          <div class="info-card">
            <div>
              <h3>Pink-rose robe</h3>
              <p>Amazing for summer</p>
            </div>
            <h3 class="card-trip-pricing">£69.69</h3>
          </div>
        </div>
      </a>

    </div>
  </div>


</div>
