<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.shopify.com/s/files/1/0182/4159/products/BlackRose_ModelMensHoodie_Back_grande.jpg?v=1541553250);">
  <div class="container">
    <h1>Black Rose brings<strong>new Merch</strong> to <strong>You</strong>!</h1>
    <p>Get it now</p>
  </div>
</div>


<div class="container title">Featured</div>

  <div id="product-page">

   <div class="cards card-gap">
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="https://www.gothyka.com/Gothyka_images/produits/rose_noire_geante_alchemy_gothic_rose5.jpg" alt="Card image cap">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>

      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="https://www.gothyka.com/Gothyka_images/produits/rose_noire_geante_alchemy_gothic_rose5.jpg" alt="Card image cap">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src="https://www.gothyka.com/Gothyka_images/produits/rose_noire_geante_alchemy_gothic_rose5.jpg" alt="Card image cap">
        <div class="card-trip-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
        </div>
      </div>
    </div>
  </div>
   <div class="container">
     <div class="cards">
      {% for product in collections.frontpage.products limit:4 %}
        <div class="card-category">
          <a href="{{ product.url | within: collection }}">
            <img class='card-image' src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
          </a>

          <div class="product-desc-price">
            <a class="float-left card-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <h6 class="float-right card-price">{{ product.price | money }}
              {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
            </h6>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
